# Node / Angular
node_modules/
dist/
.angular/

# .NET
bin/
obj/
*.user
*.db

# OS files
.DS_Store
*.json
backend/BuddyMatch.API/appsettings.Development.json
/backend/BuddyMatch.API
backend/BuddyMatch.API/appsettings.json
**/appsettings.Local.json
backend/BuddyMatch.API/Properties/launchSettings.json
.env
